.productHeader{
  color: #141414;
  text-transform: capitalize;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: normal;
  height: 100px;
  padding: 20px;
  margin: 0;
  background-color: #f2f2f2;
}
.productContainer{
  background-color: #ffff;
  display: flex;
  align-items: row;
  flex-direction: row-reverse ;
}
.offers{
  background-color: #ffff;
  border-left: 1px solid #d8d8d8;
  width: 40%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;

  
}
.priceNow {
  color: #141414;
  margin: 0;
  font-weight: 200;
  letter-spacing: normal;
}
.specialOffer{
  color: #DB003E;
  margin-bottom: 16px;
}
.information{
  padding: 0px 20px 10px 10px;
}
.specification {
  padding: 10px;
  border-top: 1px solid #d8d8d8;
  padding: 0px 20px 10px 10px;
}
.productSpecification {
  border-top: 1px solid #d8d8d8;
  padding-top: 10px;
  height: 30px;
}
.specificationName{
  color: black;
  font-weight: 200;
  padding-top: 10px;
}
.specificationValue{
  display: flex;
  justify-content: flex-end;
  margin-right: 0%;
  font-weight: 200;
}